<% include partials/header %>

<% if(orders.length == 0){ %>
	<div style="height: 650px;">
        <h1 id="no-submissions">No Orders Yet</h1>
        <img src="/emoji.png" class ="emoji">
    </div>

<% } else{ %>

	<div class="container-fluid">
		<div class="row">
			<% orders.forEach(function(order){ %>
			<div class="col-lg-4">
				<img src="/<%= order.bgImage %>" style="width: 400px; height:300px">
			</div>
			<div class="col-lg-4">
				<h5><%= order.tourName %></h5>
				<h5><%= order.tourDate %></h5>
				<h5><%= order.tourCity %></h5>
				<h5><%= order.tourVenue %></h5>
				<h5><%= order.tourCountry %></h5>
			</div>

				<% if(order.uploads.sketch && !order.uploads.cover) { %>
				<div class="col-lg-4">
					<img src="/<%= order.uploads.sketch %>" alt=""; style="width: 100px; height:100px">
				</div>
				<% } %>
				
				<% if(order.uploads.cover && !order.uploads.sketch) { %>
				<div class="col-lg-4">
					<video width="200" height="200" controls style="margin: 20px auto;">
						<source src="/<%= order.uploads.cover %>" type="video/mp4">
					</video>
				</div>
				
				<% } if(order.uploads.cover && order.uploads.sketch) { %>
					<div class="col-lg-2">
						<img src="/<%= order.uploads.sketch %>" alt=""; style="width: 100px; height:100px">
					</div>

					<div class="col-lg-2">
						<video width="200" height="200" controls style="margin: 20px auto;">
							<source src="/<%= order.uploads.cover %>" type="video/mp4">
						</video>
					</div>
				<% } %>
			<% }) %>
		</div>
	</div>
	
<% } %>
<div style="height: 60%;"></div>



<% include partials/footer %>

