<%- include('partials/header.ejs'); -%>

<div class="orders-container">
	<% if(orders.length == 0){ %>
		<h1 id="no-submissions">No Orders Yet</h1>
		<img src="/emoji1.png" class ="emoji">
	<% } else{ %>

		<div class="container-fluid orders-inner-container">
				<% orders.forEach(function(order){ %>
				<div class="order-row">
					<img src="/<%= order.bgImage %>" class="order-event-img">
					
					<div class="order-event-details">
						<h5><%= order.celebName %>'s - <%= order.tourName %> <br><%= order.tourDate %> <br> <%= order.tourCity %> <%= order.tourVenue %>, <%= order.tourCountry %></h5>
					
						<div class="order-submissions-row">
							<% if(order.uploads.sketch && !order.uploads.cover) { %>
							<div style="position: relative; width: fit-content; margin: auto;">
								<img class="order-submission-img" src="/<%= order.uploads.sketch %>" alt="";>
							
								<% if(order.uploads.shortListed){ %>
									<div 
										class="order-shortlisted-item"
									>
										<i class="fa fa-check fa-sm" style="font-size:13px" aria-hidden="true"></i>
									</div>
								<% } else{ %>
									<div></div>
								<% } %>
							</div>
							<% } %>
							
							<% if(order.uploads.cover && !order.uploads.sketch) { %>
							<div style="position: relative; border-radius:10px; width: fit-content; margin: auto;">
								<video class="order-submission-video" width="" height="" controls="">
									<source src="/<%= order.uploads.cover %>" type="video/mp4">
								</video>

								<% if(order.uploads.shortListed){ %>
									<div 
										class="order-shortlisted-item"
									>
										<i class="fa fa-check fa-sm" style="font-size:13px" aria-hidden="true"></i>
									</div>
								<% } else{ %>
									<div></div>
								<% } %>
							</div>
							
							<% } if(order.uploads.cover && order.uploads.sketch) { %>
								<div style="position: relative;">
									<img class="order-submission-img"  src="/<%= order.uploads.sketch %>" alt="";>
								
									<% if(order.uploads.shortListed){ %>
										<div 
											class="order-shortlisted-item"
										>
											<i class="fa fa-check fa-sm" style="font-size:13px" aria-hidden="true"></i>
										</div>
									<% } else{ %>
										<div></div>
									<% } %>
								
								</div>
	
								<div style="position: relative; border-radius:10px; width: fit-content; margin: auto;">
									<video  class="order-submission-video" width="" height="" controls="">
										<source src="/<%= order.uploads.cover %>" type="video/mp4">
									</video>

									<% if(order.uploads.shortListed){ %>
										<div 
											class="order-shortlisted-item"
										>
											<i class="fa fa-check fa-sm" style="font-size:13px" aria-hidden="true"></i>
										</div>
									<% } else{ %>
										<div></div>
									<% } %>
								</div>
							<% } %>
						</div>
					</div>
			</div>

				<% }) %>
		</div>	
	<% } %>
</div>


<%- include('partials/footer.ejs'); -%>

